
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/admin-style.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/all.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/webfonts/" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter" type="text/css" />
    <title>CV | @ViewBag.baslik</title>
</head>
<body>
    <div class="row main-bar">
        <div class="col-4">
            <div class="hamburger-menu">
                <input id="menu__toggle" type="checkbox" />
                <label class="menu__btn" for="menu__toggle">
                    <span></span>
                </label>

                <ul class="menu__box">
                    <li>
                        <a class="menu__item" href="/PanelProfil/PanelProfil"><i class="fa-solid fa-circle-user"></i>Profil</a>
                    </li>
                    <li>
                        <a class="menu__item" href="/PanelAbout/PanelAbout"><i class="fa-solid fa-user-pen"></i>Hakkımda</a>
                    </li>
                    <li>
                        <a class="menu__item" href="/PanelEducation/PanelEducation"><i class="fa-solid fa-graduation-cap"></i>Eğitim</a>
                    </li>
                    <li><a class="menu__item" href="/PanelExperiance/PanelExperiance"><i class="fa-solid fa-briefcase"></i>Deneyim</a></li>
                    <li>
                        <a class="menu__item" href="/PanelProject/PanelProject"><i class="fa-solid fa-paperclip"></i>Projeler</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-4">
            <h3>@ViewBag.baslik</h3>
        </div>
        <div class="col-4 admin-profil">
            <div class="hamburger-menu-2">
                <input id="menu__toggle-2" type="checkbox" />
                <label class="menu__btn-2" for="menu__toggle-2">
                    <span><i class="fa-regular fa-user top-sidebar-1-icon"></i></span>
                </label>

                <ul class="menu__box-2">
                    <li>
                        <span class="admin-name">Semih KARAAĞAÇLI</span>
                    </li>
                    <li>
                        <a class="menu__item-2" href="/Login/LogOut"><i class="fa-solid fa-arrow-right-from-bracket top-sidebar-3-icon"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class=" row icerik">
        @RenderBody()
    </div>
</body>
</html>
